.working_EX
.rafos.c
MPI/
crc16.c
crc64.c
test_map.c
free_tst.sh
tst/TESTS.csv
tst/compute_3_tsts.csv
.memalloctst.c
tst/exo
tst/res
tst/tex
tst/tests.csv
tst/debugging.txt
tst/BUCKETS.csv
tst/2_4_6_SERVERS_RESULTS.csv
.aux
kill_stat.sh
build
TODO
Makefile
.hello_glib.c
bash/scripts
prev_CMakes
hostfiles
.vscode
# To ignore all directories named logs.
logs/
*.log
bash/tests/data
tmp/*
!tmp/.emptyfile
bash/tests/malleability/sink/*
bash/tests/malleability/source/*
bash/tests/metadata/Benchmarks/HerculesConfigurations/Detach/*
bash/tests/metadata/Benchmarks/HerculesConfigurations/Attach/*
*.nc
*.conf_*
# To ignore all directories named HerculesConfigurations
HerculesConfigurations/
# io500
bash/tests/metadata/Benchmarks/io500/results*
