.working_EX
.rafos.c
MPI/
crc16.c
crc64.c
test_map.c
free_tst.sh
tst/TESTS.csv
tst/compute_3_tsts.csv
.memalloctst.c
tst/exo
tst/res
tst/tex
tst/tests.csv
tst/BUCKETS.csv
tst/2_4_6_SERVERS_RESULTS.csv
.aux
kill_stat.sh
build
build-sanitazer
install
bash
TODO
Makefile
.hello_glib.c
prev_CMakes
hostfiles
.vscode
data_hostfile
meta_hostfile
# To ignore all directories named logs.
logs/
*.log
tmp/*
!tmp/.emptyfile
# To ignore all directories of temporal configuration files.
**/configurations_hercules/Detach/
**/configurations_hercules/Attach/
*.nc
*.conf_*
# To ignore all directories named HerculesConfigurations
HerculesConfigurations/
# out files
*.out
stuff/dummy/*
*.csv
.cache/
*_TEMP
*.txt


